In [2]:
my_set = {1,2,3,4,5}
print(my_set)

{1, 2, 3, 4, 5}

In [3]:
my_set = {1,2,3,4,5,5}#a set will only hold 1 copy of each value and only 1 of the 5s will print.
print(my_set)

{1, 2, 3, 4, 5}

In [4]:
my_set = {1,2,3,4,5}
my_set.add(100)
my_set.add(2)#2 does not get added because the set already has this value
print(my_set)

{1, 2, 3, 4, 5, 100}

In [6]:
my_list = [1,2,3,4,5,5]

print(set(my_list))#print a list into a set to remove all duplicate values.

{1, 2, 3, 4, 5}

In [8]:
my_set = {1,2,3,4,5}
print(1 in my_set)

True

In [10]:
my_set = {1,2,3,4,5,5}
print(len(my_set))

5

In [11]:
my_set = {1,2,3,4,5,5}
print(list(my_set))#convert set to a list

[1, 2, 3, 4, 5]

In [14]:
my_set = {1,2,3,4,5,5}
new_set = my_set.copy()
my_set.clear()
print(new_set)
print(my_set)

{1, 2, 3, 4, 5}
set()

In [15]:
my_set = {1,2,3,4,5,5}
your_set = {4,5,6,7,8,9,10}

print(my_set.difference(your_set))#finds the difference between the sets, any duplicates get ignored

{1, 2, 3}

In [16]:
my_set = {1,2,3,4,5,5}
your_set = {4,5,6,7,8,9,10}

print(my_set.difference(your_set))
print(my_set.discard(5))
print(my_set)

{1, 2, 3}
None
{1, 2, 3, 4}

In [17]:
my_set = {1,2,3,4,5,5}
your_set = {4,5,6,7,8,9,10}

print(my_set.difference_update(your_set))#updates the set according to the difference b/w the sets
print(my_set)

None
{1, 2, 3}

In [18]:
my_set = {1,2,3,4,5,5}
your_set = {4,5,6,7,8,9,10}

print(my_set.intersection(your_set))#where the two sets meet in values

{4, 5}

In [22]:
my_set = {1,2,3,4,5,5}
your_set = {4,5,6,7,8,9,10}
print(my_set & your_set)#intersection method can also be written as &

{4, 5}

In [19]:
my_set = {1,2,3,4,5,5}
your_set = {4,5,6,7,8,9,10}
print(my_set.isdisjoint(your_set))#are those two sets overlapping? do they share anything in common?

False

In [20]:
my_set = {1,2,3,4,5,5}
your_set = {4,5,6,7,8,9,10}
print(my_set.union(your_set))#unites the sets together and removes duplicates

{1, 2, 3, 4, 5, 6, 7, 8, 9, 10}

In [21]:
my_set = {1,2,3,4,5,5}
your_set = {4,5,6,7,8,9,10}
print(my_set | your_set)#union method can also be written as |

{1, 2, 3, 4, 5, 6, 7, 8, 9, 10}

In [24]:
my_set = {4,5}
your_set = {4,5,6,7,8,9,10}

print(my_set.issubset(your_set))#is my set inside of your set?

True

In [26]:
my_set = {4,5}
your_set = {4,5,6,7,8,9,10}
print(my_set.issuperset(your_set))#is my_set a super set of your set?
print(your_set.issuperset(my_set))#is your_set a super set of my_set?

False
True